@using Pulse.Posts.Contracts
@using Pulse.Shared.UI.Components
@using Pulse.Posts.UI.Models

@code {
    [Parameter] public required PostViewModel CurrentPost { get; set; }

    private string ProfileLink => $"/u/{CurrentPost.Username}";
}

<Panel>
    <div class="flex flex-1 gap-x-4 p-4 fade-in">
        <div class="flex flex-col xl:flex-none">
            <Avatar src="" alt="@CurrentPost.DisplayName" initials="@CurrentPost.GetUserInitials()" />
        </div>
        <div class="flex flex-col flex-1 gap-y-2">
            <SpaLink href="@ProfileLink" class="flex flex-1">
                <div class="flex flex-col gap-y-0.5 text-sm">
                    <div class="flex-row">
                        <span class="text-lg mr-5">
                            @CurrentPost.DisplayName
                        </span>
                        <span class="text-gray-600">
                            @@@CurrentPost.Username
                        </span>
                    </div>
                    <HumanReadableTimestamp Timestamp="@CurrentPost.CreatedAt" class="text-sm text-gray-600"/>
                </div>
            </SpaLink>
            <div class="text-sm mb-4">
                @CurrentPost.Content
            </div>
            
            @if (CurrentPost.Attachments.Any())
            {
                <AttachmentCarousel Attachments="CurrentPost.Attachments" PostId="@CurrentPost.Id" />
            }
        </div>
    </div>
</Panel>