@using Pulse.Followers.Contracts.Services;
@using Pulse.Users.Contracts;
@using Pulse.Shared.Auth;
@using Pulse.WebApp.Client.Components
@using Pulse.WebApp.Features.Users.Components
@inherits LayoutComponentBase

@inject IdentityProvider IdentityProvider;
@inject IFollowerProvider FollowerProvider;
@inject IUserRecos UserRecos;

@code {
    private int FollowerCount;
    private int FollowingCount;
    private CurrentUser CurrentUser => IdentityProvider.GetCurrentUser();

    private IEnumerable<Users.Contracts.User> RecommendedUsers = new List<Users.Contracts.User>();

    protected override async Task OnInitializedAsync()
    {
        FollowerCount = await FollowerProvider.GetFollowerCount(CurrentUser.Id, CancellationToken.None);
        FollowingCount = await FollowerProvider.GetFollowingCount(CurrentUser.Id, CancellationToken.None);
        RecommendedUsers = await UserRecos.GetRecommendedFollows(CurrentUser.Id, CancellationToken.None);
    }

    private string GetUserInitials(User user) => user.DisplayName?.Split(' ').Select(x => x[0]).Aggregate(string.Empty, (x, y) => x + y) ?? string.Empty;
    private string GetUserProfileLink(User user) => $"/u/{user.Username}";
}

<NavMenu />
<div class="flex mx-auto xl:grid xl:grid-cols-10 gap-5 p-6">
    <aside class="col-span-2 hidden xl:flex flex-col">
        <Panel>
            <UserCard 
                UserName="@CurrentUser.UserName" 
                UserId="@CurrentUser.Id" 
                Name="@CurrentUser.DisplayName" 
                Description="Test Description" 
                Followers=@FollowerCount
                Following=@FollowingCount
                ShowFollowButton=false/>
        </Panel>
        <Panel title="Who to follow">
            @foreach(var user in RecommendedUsers)
            {
                <div class="flex flex-row mx-auto space-x-5 px-4 my-2">
                    <Avatar ImageSize="Avatar.Size.Small" Initials="@GetUserInitials(user)" />
                    <div class="flex flex-col">
                        <SpaLink href="@GetUserProfileLink(user)" class="font-bold">
                            @user.DisplayName
                            <p class="text-gray-500">@user.Username</p>
                        </SpaLink>
                    </div>
                </div>
            }
        </Panel>
    </aside>
    <main class="col-span-5 w-full">
        @Body
    </main>
    <aside class="col-span-3 hidden xl:flex flex-col">
        <div class="sticky top-0">
            <Panel title="Trends For you" href="/">
                @* <PanelItemTrends title="Next JS" category="Development" stat="57.5K" />
                <PanelItemTrends title="Figma" category="Design" stat="107.5K" />
                <PanelItemTrends title="Webflow" category="Design" stat="127.5K" />
                <PanelItemTrends title="Tailwind CSS" category="Development" stat="87.5K" />
                <PanelItemTrends title="Vercel" category="Development" stat="27.5K" /> *@
            </Panel>
            @* <Footer /> *@
        </div>
    </aside>
    <ErrorToast />
</div>
