@code {
    [Parameter] public required string Src { get; set; }
    [Parameter] public required string Alt { get; set; }
    [Parameter] public required string Initials { get; set; }
    [Parameter] public Size ImageSize { get; set; } = Size.Medium;

    private bool validImage => !string.IsNullOrEmpty(Src);
    private string imageFailedInitial => !validImage ? "true" : "false";
    private string sizeClass => ImageSize switch
    {
        Size.Small => "h-8 w-8",
        Size.Medium => "h-12 w-12",
        Size.Large => "h-16 w-16",
        _ => "h-12 w-12"
    };

    public enum Size
    {
        Small,
        Medium,
        Large
    }

    private string GetImageHiddenAttribute()
    {
        return validImage ? "" : "hidden";
    }
}

<div 
    class="flex justify-center items-center"
    data-controller="avatar"
    data-js-image-failed="@imageFailedInitial">
    @if(validImage)
    {
        <img data-component="avatar-image" 
             class="rounded-full border-solid border-white border-2 @sizeClass" src="@Src" alt="@Alt"/>
    }
    <div data-component="avatar-initials" 
         class="rounded-full border-solid border-white border-2 @sizeClass text-center text-black flex justify-center items-center bg-gray-300"
         @GetImageHiddenAttribute()>
        @Initials
    </div>
</div>